body {
	background: #fff;
	color: #222;
	font: 12px/20px 'Helvetica Neue', Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 18px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
h4 {
	color: #545454;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
a {
	color: #333;
}

/* Table */ 
#data-table {
	display: none;
}

/* Toggle */
/*.toggles {
	background: #ebebeb;	
	color: #545454;
	height: 20px;
	padding: 15px;
}*/
.toggles p {
	margin: 0;
}
.toggles a {
	background: #222;
	border-radius: 3px;	
	color: #fff;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 6px;
	text-decoration: none;
}
.toggles a:hover {
	background: #666;
}
#reset-graph-button {
	float:right;
}

/* Graph */
#wrapper {
	height: 600px;
	left: 50%;
	margin: -200px 0 0 -450px;
	position: absolute;
	top: 50%;	
	width: 900px;	
	
	-webkit-transform: scale(0.75);
	-webkit-perspective: 900;
}
#wrapper h2 {
	font-size: 24px;
	line-height: 30px;
	
	-webkit-transform: translateZ(80px);
}
.chart {
	height: 100%;
	width: 100%;
	
	-webkit-transition: all 3s ease-out;
	-webkit-transform: rotateX(15deg) rotateY(25deg);
	-webkit-transform-style: preserve-3d;
}
#figure {
	height: 100%;
	width: 100%;
	
	-webkit-transform-style: preserve-3d;
}
#figure ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.graph {
	height: 480px;
	position: relative;
	width: 900px;

}
.legend {
	background: rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	bottom: 60px;
	font-size: 16px;
	position: absolute;
	text-align: left;
	width: 900px;
	
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(65px);
}
.legend li {
	display: block;
	float: left;
	height: 20px;
	margin: 0;
	padding: 10px 60px;
	width: 180px;
	
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(10px);
}
.legend span.icon {
	background-position: 50% 0;
	border-radius: 2px;
	display: block;
	float: left;
	height: 20px;
	margin: 0 10px 0 0;
	width: 20px;
	
	-webkit-transform-style: preserve-3d;
}
.x-axis {
	background: rgba(0, 0, 0, 0.27);
	bottom: 0;
	color: #fff;
	font-size: 18px;
	height: 100px;
	position: absolute;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.2) 0 2px 0;
	width: 900px;
	
	-webkit-transform: rotateX(90deg) translateZ(-50px) translateY(30px);
}
.x-axis li {
	float: left;
	height: 20px;
	margin: 62px 15px 0 15px;
	padding: 5px 0;
	width: 150px;
}

.y-axis {
	background: rgba(0, 0, 0, 0.09);	
	color: #555;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	text-align: right;
	width: 900px;
	
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(-20px);
}
.y-axis li {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	display: block;
	height: 95px;
	padding: 0;
}
.y-axis li span {
	background: rgba(0, 0, 0, 0.18);
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	display: block;
	font-size: 18px;
	height: 95px;
	line-height: 36px;
	margin: -1px 0 0 0;
	position: absolute;
	text-align: center;
	width: 100px;
	
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(90deg) translateX(-50px) translateZ(-50px);
}
.bars {
	float: left;
	height: 480px;
	position: relative;
	width: 900px;
	z-index: 10px;
	
	-webkit-transform: translateZ(15px);
	-webkit-transform-style: preserve-3d;
}
.bar-group {
	float: left;
	height: 100%;
	margin: 0 15px;
	position: relative;
	width: 150px;
}
.bar {
	bottom: 1px;
	cursor: pointer;	
	height: 0;
	position: absolute;
	text-align: center;
	width: 42px;
	
	-webkit-transition: all 0.8s ease-out;
}
.bar span {
	color: #fff;
	display: block;
	font-size: 24px;
	left: -11px;
	opacity: 0;
	position: relative;
	text-shadow: rgba(0, 0, 0, 0.6) 0 2px 5px;
	margin-top: 10px;
	width: 64px;
	
	-webkit-transition:all 0.4s ease-out;
	-webkit-transform:translateZ(-21px) scale(0);
}
.bar:hover span {
	display: block;
	opacity: 1;
	
	-webkit-transform:translateZ(24px) scale(1.0);	
}
.bar.fig0 {
	left: 0;
}
.bar.fig1 {
	left: 54px;
}
.bar.fig2 {
	left: 108px;
}

#figure h4 {
	font-size: 16px;
	margin: 0;
	padding: 0;
	position: absolute;	
	width: 480px;
	
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateZ(-90deg) translateY(-260px) translateZ(80px) translateX(-230px);
}

.fig0 {
	background: none;
}
.fig1 {
	background: none;
}
.fig2 {
	background: none;
}

/* Graph bars */
.face {		
	border: 1px solid rgba(255, 255, 255, 0.4);
	color: rgba(255, 255, 255, 1.0);
	position: absolute;
	width: 42px;
	
	-webkit-box-sizing:border-box;
}
.top {
	height: 42px;
	top: 0;
	
	-webkit-transform: rotateX(90deg) translateZ(21px);
}
.front {
	bottom: 0;
	height: 100%;
	
	-webkit-transform: translateZ(21px);
}
.right {
	bottom:0;
	height:100%;
	
	-webkit-transform: rotateY(90deg) translateZ(21px);
}
.left {
	bottom: 0;
	height: 100%;		
	
	-webkit-transform: rotateY(-90deg) translateZ(21px);
}
.back {	
	bottom: 0;
	height: 100%;

	-webkit-transform: rotateY(180deg) translateZ(21px);
}
.bottom {
	bottom: 0;
	height: 42px;

	-webkit-transform: rotateX(90deg) translateZ(-21px);
}
/* Legend bars */
.legend .face {	
	height: 20px;	
	width: 20px;
}
.legend .top {
	height: 10px;
	
	-webkit-transform: rotateX(90deg) translateZ(5px);
}
.legend .front {
	height: 20px;
	
	-webkit-transform: translateZ(5px);
}
.legend .right {
	width: 10px;
	
	-webkit-transform:rotateY(90deg) translateZ(15px);
}
.legend .left {
	width: 10px;		
	
	-webkit-transform: rotateY(-90deg) translateZ(5px);
}
.legend .back {	
	height: 20px;

	-webkit-transform: rotateY(180deg) translateZ(5px);
}
.legend .bottom {
	height: 10px;
			
	-webkit-transform: rotateX(90deg) translateZ(-5px);
}

/* Bar Colours */
.fig0 .top {
	background: rgba(80, 80, 80, 0.6);
}
.fig0 .left,
.fig0 .right,
.fig0 .back,
.fig0 .front {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(80, 80, 80, 0.6)), color-stop(1.0, rgba(80, 80, 80, 0.3)));
}
.fig0 .bottom {
	background: rgba(80, 80, 80, 0.3);
}

.fig1 .top {
	background: rgba(59, 166, 220, 0.6);
}
.fig1 .left,
.fig1 .right,
.fig1 .back,
.fig1 .front {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(59, 166, 220, 0.6)), color-stop(1.0, rgba(59, 166, 220, 0.3)));
}
.fig1 .bottom {
	background: rgba(59, 166, 220, 0.3);
}

.fig2 .top {
	background: rgba(230, 126, 40, 0.6);
}
.fig2 .left,
.fig2 .right,
.fig2 .back,
.fig2 .front {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(230, 126, 40, 0.6)), color-stop(1.0, rgba(230, 126, 40, 0.3)));
}
.fig2 .bottom {
	background: rgba(230, 126, 40, 0.3);
}