/* 
    Document   : demo2
    Created on : 30-Mar-2014, 14:43:20
    Author     : qju12etu
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

* {
	margin: 0;
	padding: 0;
}

small {
	display: block;
	margin-top: 15px;
	padding-top: 15px;
	color: #333;
	font-size: 0.85em;
	border-top: 1px dashed #ccc;

	-webkit-text-size-adjust: none;
}

button {
	border: 0px;
	padding: 8px 10px;
	margin: 5px 0px;
	border-radius: 1px;

	cursor: pointer;
	color: #fff;
	background: #7aa76d;
	font-size: 15px;

	outline: none;

	-webkit-transition: 0.15s background ease;
	   -moz-transition: 0.15s background ease;
	    -ms-transition: 0.15s background ease;
	     -o-transition: 0.15s background ease;
	        transition: 0.15s background ease;
}
	button:hover {
		background: #91cd85;
	}
	button:active {
		background: #60895a;
	}
	button+button {
		margin-left: 5px;
	}

.sharing {
	margin-top: 50px;
}

